<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Registration</title>
	<style type="text/css">
		{% include "hmstyle.css" %}
	</style>
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<style type="text/css">
		{% include "reg.css" %}
	</style>
</head>
<body>
	<input type="checkbox" id="check">
<!--nav open-->
  <header>
    <label for="check">
      <i class="fas fa-bars" id="side_bar_btn"></i>
    </label>
    <div class="left_area">
      <h3>To-Do <span>Lists</span></h3>
    </div>
    <div class="right_area">
      <a href="{% url 'login' %}" class="logout_btn">Login</a> 
    </div>
  </header>
<!--nav end-->
<!--sidenav open-->
 
  <div class="sidenav">
    <center>
     <!--  <img src="{% static '/img_avatar2.png' %}" class="port_img">
      <h4>Rohit</h4> -->
    
    </center>
<!--      <a href="#" onclick="alltasks()"><i class="fas fa-tasks" ></i> <span> All Tasks</span></a> 
     <a href="#"><i class="fas fa-clipboard-check"></i><span> Completed</span></a> 
     <a href="#"><i class="fas fa-clipboard-list"></i><span> Remaining</span></a>   -->
     <a href="{% url 'register' %}"><i class="far fa-user"></i><span> Registraton</span></a> 
     <a href="{% url 'login' %}"><i class="fas fa-user-cog"></i><span> Login</span></a>
     <a href="#"><i class="fas fa-question-circle"></i><span> Help</span></a> 
  </div>
<!--sidenav end-->

<div class="content" >
   

	<div class="container">
	<div>
		<form action="" method="POST">
		{% csrf_token %}
		<table style="border: 2px solid; width:100%;">
			<tr><td colspan="3"><center><h1>Registration</h1><hr></center></td></tr>
		<tr><td>First Name</td><td>:</td><td>{{frm.fname}}</td></tr>
		<tr><td>Last Name</td><td>:</td><td>{{frm.lname}}</td></tr>
		<tr><td>Gender</td><td>:</td><td>{{frm.gender}}</td></tr>
		<tr><td>E-mail</td><td>:</td><td>{{frm.Email}}</td></tr>
		<tr><td>Password</td><td>:</td><td>{{frm.password}}</td></tr>
		<tr><td>Confirm Password</td><td>:</td><td>{{frm.password}}</td></tr>
		<tr >
			<td colspan="3">
			<center>	<button type="submit" class="registerbtn">Register</button>
			</center>
			</td>
			
		</tr>	
		
		</form>
	<tr><td colspan="3">
	<hr>
		<div class="container signin">
    		<p>Already have an account? <a href="{% url 'login' %}">Login</a>.</p>
		</div>
	</td>	
	</tr>
	</div>
	</table>
</div>	
</div>
</body>
</html>